@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=IBM Plex Mono');
@import url('https://fonts.googleapis.com/css?family=Thin 100');

body {
    margin: 0px;
    /*    background-image: url("img/fondo2c.jpg");*/
    background-color: rgba(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.div_principal {
    margin-top: 15x;
    margin-bottom: 15px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgba(255, 255, 255);
}


#logo {
    margin: 0px;
    font-family: IBM Plex Mono;
    color: rgba(255, 255, 255);
    background-color: #171515;
    font-weight: 50;
    margin-bottom: 0px;

}

#div1 {
    top: 10px;
}

#div2 {
    display: flex;
}


#div3 {
    background-color: rgba(255, 255, 255);
    text-decoration: none;
    color: #171515;
    padding: 1%;
}

#div2a,
#div2b {
    margin: 30px;
    margin-bottom: 0px;
    padding: 30px;
    display: inline-block;
    text-align: justify;
}

#div2a {
    align-items: center;
}

.img_div1 {
    margin-top: 10px;
    width: 400px;
    border-radius: 500px;
    border: 3px solid;
    /*dotted*/
    color: #171515;
}

.nav_menu,
#logo_menu {
    display: inline-flexbox;
    flex-direction: row;
    text-align: center;
    line-height: 50px;
    background-color: #171515;
    /*box-shadow: 0 0.5rem 1rem 0 rgba(98, 98, 98, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);*/
}

.menu_header {
    color: rgba(255, 255, 255);
    font-family: Quicksand;
    font-size: x-large;
    text-decoration: none;
    margin: 20px;
    background-color: #171515;
    text-align: center;
}

.menu_header:hover {
    color: rgba(0, 255, 242);
    transform: scale(1.5);
    transition-duration: 0.3s;
}

.anchor_footer {
    font-family: IBM Plex Mono;
    text-decoration: none;
    color: #171515;
}

.p_base {
    font-family: Quicksand;
    font-size: 20px;
    line-height: 2;
}

.h1_base {
    font-family: IBM Plex Mono;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.h2_base {
    font-family: IBM Plex Mono;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.h3_base {
    font-family: IBM Plex Mono;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.suplemento {
    background-color: rgba(255, 255, 255);
    font-family: IBM Plex Mono;
    display: block;
    color: #171515;
    margin-top: 0px;
    height: auto;
}

.icons_footer {
    width: 60px;
    height: auto;
}